<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item>
      <div class="item-note" slot="start" jus>
        1) User has to use his/ her login credentials to access the application
      </div>
    </ion-item>
    <ion-item>
      
      <div class="item-note" slot="start">
        2) After the login process is done, user can see the dashboard with 3 options 
      </div>
    </ion-item>
    <ion-item>
      
      <div class="item-note" slot="start">
          3) Patient Awareness, DoctorConnect & Festive Greetings 
      </div>
    </ion-item>
    <ion-item>
      
      <div class="item-note" slot="start">
          4) Out of this category - as per user requirement, the user will open and again able to see 1 or multiple options 
      </div>
    </ion-item>
    <ion-item>
      
      <div class="item-note" slot="start">
          5) After selecting a particular image by user  
      </div>
    </ion-item>
    <ion-item>
      
      <div class="item-note" slot="start">
          6) The image will open and the user can see 2 option – Change Language & Proceed
      </div>
    </ion-item>
    <ion-item>
      
      <div class="item-note" slot="start">
          7) In Change, language user can select his /her own choice language & proceed 
      </div>
    </ion-item>
    <ion-item>
      
      <div class="item-note" slot="start">
          8) After clicking the proceed,user will get 2 option - Select image for taking a picture and Skip this step
      </div>
    </ion-item>
    <ion-item>
      
      <div class="item-note" slot="start">
          9) Once the user will click on select image option user will get 3 option – Upload the Picture from phone library or use the camera to take real-time Pic. Or cancel step 
      </div>
    </ion-item>
    <ion-item>
      
      <div class="item-note" slot="start">
          10) After selecting the camera user has to click Doc. Picture
      </div>
    </ion-item>
    <ion-item>
      
      <div class="item-note" slot="start">
          11) Once picture will be clicked –Pic. Will appearing along with 3 option will come - again select it (If the user will feel Pic. Is not correct ) - proceed it for next step or cancel it 
      </div>
    </ion-item>
    <ion-item>
      
      <div class="item-note" slot="start">
          12) After proceeding, the user has to Type Doctor’s name and additional information like clinic name etc. & submit it 
      </div>
    </ion-item>
    <ion-item>
      
      <div class="item-note" slot="start">
          13) After a few Sec. processes the preview image will reflect based on updated information 
      </div>
    </ion-item>
    <ion-item>
      
      <div class="item-note" slot="start">
          14) Once user will Submit the user will automatically come into home page & details will be stored in Appgallery
      </div>
    </ion-item>
    <ion-item>
      
      <div class="item-note" slot="start">
          15) User will go to App gallery and see his/her activity details and select an image and directly able to share anyone using the share option
      </div>
    </ion-item>
  </ion-list>

  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
