.title {
  font-size: 26px;
  margin: 0;
  color: #06377c;
}

.bg-custom-img {
  background: url(../../../assets/images/welcome.jpg) no-repeat right center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

ion-card {
  justify-content: center;
  padding: 0;
  ion-card-content {
    padding-left: 0;
  }
}

.full-height-card .logo-wrap {
  margin-bottom: 25vh;
}

ion-button {
  max-width: 200px;
  border-radius: 0 20px 20px 0px;
  margin: inherit;
  --border-radius: 0;
  &:last-child{
    margin-top: 25px;
  }
}

