<ion-content>

  <ion-card class="full-height-card bg-custom-img">
    <div class="logo-wrap">
      <h4 class="title">Welcome To</h4>
      <img src="assets/images/logo.png">
    </div>
    <ion-card-content class="">
      <ion-button color="secondary" expand="block" class="ion-no-margin btn-rounded" [routerLink]="['login']">Sign In</ion-button>
      <ion-button expand="block" class="ion-no-margin btn-rounded mt-15" [routerLink]="['register']">Register</ion-button>
    </ion-card-content>
    <div class="poweredby">
      <p>Powered By Highvoltage Softwares Pvt Ltd</p>
    </div>
  </ion-card>

</ion-content>